body{
    font-family: 'Varela Round', sans-serif;
    background-image: url("../images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}



div#about-us h2{
    text-align: center;
    font-size: 50px;

}

div#logo{
    background-image: url("../images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 21%;
    padding-bottom: 21%;
}

div#logo h2, div#img h2, div#play h2, div#about-us h2 {
    text-align: center;
    font-size: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #2395f3c0;
    padding-top: 1%;
    padding-bottom: 1%;
}

div#logo h2, div#img h2, div#play h2 {
    margin-left: 45%;
    margin-right: 45%;
}

div#about-us h2 {
    margin-left: 40%;
    margin-right: 40%;
}

.introduction{
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
}
.introduction p{
    font-size: 30px;
    margin-left: 30px;
    margin-right: 110px
}
